.done-true {
  text-decoration: line-through;
  color: grey;
}
.cell{
	background:#96A796;
}

.cell-black, .cell-white{
  background-repeat: no-repeat;
  /*background-color: #ccc;*/
  background-size:40%;
}

.cell-black{
  background-image:url('../img/black.png');
}

.cell-white{
  background-image:url('../img/white.png');
}

.stats .cell-white{
	background-position: -47px 9px;
}
.stats .cell-black{
	background-position: 9px 9px;
}

.notification{
	height:400px;
	overflow-y:auto;
}
.score-flyer{
	color:green;
	font-size:2em;
}
